@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import '~antd/dist/antd.css';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.6;
	color: #212529;
	font-family: 'Open Sans', sans-serif;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-1 {
	margin-bottom: 8px !important;
}
.mb-2 {
	margin-bottom: 16px !important;
}
.mb-3 {
	margin-bottom: 24px !important;
}
.mb-4 {
	margin-bottom: 32px !important;
}
.mb-5 {
	margin-bottom: 50px !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mt-1 {
	margin-top: 8px !important;
}
.mt-2 {
	margin-top: 16px !important;
}
.mt-3 {
	margin-top: 24px !important;
}
.mt-4 {
	margin-top: 32px !important;
}
.mt-5 {
	margin-top: 50px !important;
}
.w-100 {
	float: left;
	width: 100%;
}
.text-center {
	text-align: center;
}
.text-gray {
	color: #888686 !important;
}
.text-danger {
	color: #ff4d4f !important;
}
.stnd-plan {
	font-size: 16px;
	margin: 0 0 0 8px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.body-content {
	background-color: #fff;
	padding: 40px 13px;
}
.sidemenu {
	padding: 63px 0 0 0;
	background-color: #fff;
	border-right: 1px solid #ddd;
}
.app-logo {
	height: 63px;
	margin: 0;
	line-height: 63px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	top: 0;
	left: 23px;
	min-width: 200px;
	width: 100%;
	position: absolute;
	background-color: #fff;
}
.top-header {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
.wrapper .ant-layout {
	background-color: #fff;
}
.tabs-wrp .ant-tabs-content-holder {
	padding: 20px 10px;
	border: 1px solid #f0f0f0;
}
.ant-tabs-top.tabs-wrp .ant-tabs-nav {
	margin: 0;
}
.tabs-wrp .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
	border-radius: 0;
}
.ant-tabs-top.tabs-wrp .ant-tabs-nav::before {
	display: none;
}
.ant-tabs-top.tabs-wrp .ant-tabs-tab {
	border-bottom: none;
}
.pricing-box {
	height: 100%;
	border: 1px solid #b7b7b7;
	padding: 40px 15px;
}
.pricing-header {
	text-align: center;
	margin: 0 0 25px 0;
	padding: 0 30px;
}
.pricing-header h2 {
	font-size: 28px;
	font-weight: 900;
	margin: 0 0 30px 0;
	position: relative;
	color: #313440;
}
.pricing-header h2 small {
	position: absolute;
	bottom: -30px;
	width: 100%;
	left: 0;
	font-weight: normal;
	font-size: 20px;
}
.pricing-box ul {
	list-style: none;
	padding: 0;
}
.pricing-box ul li {
	line-height: normal;
	margin: 5px 0;
	display: inline-block;
	width: 100%;
}
.pricing-box:first-child .pricing-header button {
	width: 100%;
	font-weight: 700;
	box-shadow: none;
}
.pricing-box:first-child .pricing-header .btn-plane,
.pricing-box:first-child .pricing-header .btn-plane:hover {
	background-color: transparent;
	border: transparent;
	color: #479ccf;
}
.pricing-box:first-child .pricing-header button::after {
	display: none !important;
}
.sidemenu .ant-menu-inline {
	border-right: none;
	border-top: 1px solid #ddd;
}
.sidemenu .ant-menu-sub.ant-menu-inline {
	border-top: none;
}
.sidemenu .ant-menu-inline .ant-menu-item {
	margin: 0;
}
.wrapper .ant-form-large .ant-form-item-label label,
.form-wrp.ant-form-large .ant-form-item-label label {
	height: auto !important;
}

.carriers-table table td {
	background-color: transparent;
	border: 1px solid #fff;
	border-top: none;
	border-bottom: none;
}
.carriers-table .ant-table-thead tr th {
	background: #868484;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #fff;
}
.carriers-table .ant-table-thead tr th:nth-child(2) {
	width: 60px;
}
.carriers-table .ant-table-thead tr th:nth-child(4) {
	width: 500px;
}
.carriers-table .ant-table-tbody tr.ant-table-row td {
	background: #fafafa;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
	.ant-select-selector,
.ant-input:focus,
.ant-input:hover {
	box-shadow: none !important;
	border-color: #a7cce5;
}
.ant-form-item-label
	label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
	position: absolute;
	right: -16px;
	top: 6px;
}
.custom-table .ant-table-empty {
	margin-bottom: 30px;
}
.custom-table table {
	border: 1px solid #f0f0f0;
	border-bottom: none;
}
.custom-table table thead tr th {
	font-weight: 700;
}
.custom-table table thead tr th:last-child {
	width: 200px;
	text-align: center;
}
.custom-table table tbody tr td:last-child {
	text-align: center;
}
.custom-table .ant-table-content {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.custom-table table {
	table-layout: unset !important;
}
.btn-danger {
	color: #ff4d4f !important;
}
.important-csv .ant-btn-lg,
.important-csv .ant-upload.ant-upload-select {
	width: 100%;
	text-align: left;
}
.gray-text-block {
	padding: 1rem;
	box-sizing: border-box;
	background-color: #eceef5;
	border: 1px solid #d9dce9;
}
.content-box {
	float: left;
	width: 100%;
	margin: 10% 0;
}
.content-box.box-shadow {
	padding: 1rem;
	box-shadow: 0 0 19px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.ant-btn-primary {
	background-color: #479ccf;
	border-color: #479ccf;
}
.ant-btn-primary:hover {
	background-color: #a7cce5;
	border-color: #a7cce5;
}
.ant-tabs-card .ant-tabs-nav .ant-tabs-tab {
	color: #fff !important;
	background: #479ccf;
	border-color: #479ccf;
}
.ant-tabs-card .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
	background-color: #a7cce5;
	border-color: #a7cce5;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #fff;
}
.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #479ccf;
	border-color: #479ccf;
}
.ant-btn-link {
	color: #479ccf;
}
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
	color: #fff !important;
}
.carriers-name {
	font-size: 14px !important;
	padding: 10px 24px;
	color: #5e637a;
	background-color: #f6f7fc;
	font-weight: 800 !important;
	margin: 0 !important;
}
.note-bx {
	padding: 7px 10px;
	margin: 0 0 20px 0;
	background-color: #eaeaea;
}
.card-custom {
	position: relative;
	border-radius: 0;
	border-color: #ddd;
	height: 100%;
	background-color: #fbfbfb;
	text-align: center;
}
.card-custom a {
	display: block;
	height: 100%;
}

.card-custom .ant-card-body .card-inner figure {
	margin: 0 0 2px 0;
}
.no-data {
	background-color: #f2f7fa;
	border: 1px solid #409391;
	clear: both;
	color: #409391;
	padding: 5px 20px;
	text-align: center;
	display: inline-block;
	min-width: 150px;
	border-radius: 50px;
}

.no-data.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.ant-alert {
	margin: 0 0 20px 0;
}
.product-filters {
	margin: 0 0 15px 0;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
	padding: 4px 8px;
}
.sepSettings:nth-child(odd) {
	background-color: #fafafa;
	margin: 50px 0px;
}
.sepSettings {
	padding: 10px;
}
