@media only screen and (min-width: 1201px) and (max-width: 1400px){
  .card-custom .ant-card-body{
    padding: 10px;
  }
  .app-logo{
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .product-filters {
        display: flex;
        flex-direction: column;
    }
    .product-filters .ant-space-item{
      margin: 4px 0 !important;
    }
    .product-filters .ant-space-item,
    .product-filters .ant-space-item .ant-btn,
    .product-filters .ant-space-item .ant-form .ant-form-item{
      width: 100%;
    }
    .product-filters .ant-space-item .ant-select{
        width: 100% !important;
    }
    .product-filters .ant-space-item .ant-form .ant-form-item{
      margin: 4px 0;
    }
    .card-custom .ant-card-body{
      padding: 10px;
    }
    .app-logo{
      font-size: 14px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .product-filters {
        display: flex;
        flex-direction: column;
    }
    .product-filters .ant-space-item{
      margin: 4px 0 !important;
    }
    .product-filters .ant-space-item,
    .product-filters .ant-space-item .ant-btn,
    .product-filters .ant-space-item .ant-form .ant-form-item{
      width: 100%;
    }
    .product-filters .ant-space-item .ant-select{
        width: 100% !important;
    }
    .product-filters .ant-space-item .ant-form .ant-form-item{
      margin: 4px 0;
    }
    .card-custom .ant-card-body{
      padding: 15px;
    }
    .app-logo{
      font-size: 14px !important;
    }
}
@media only screen and (max-width: 767px){
    .product-filters {
        display: flex;
        flex-direction: column;
    }
    .product-filters .ant-space-item{
      margin: 4px 0 !important;
    }
    .product-filters .ant-space-item,
    .product-filters .ant-space-item .ant-btn,
    .product-filters .ant-space-item .ant-form .ant-form-item{
      width: 100%;
    }
    .product-filters .ant-space-item .ant-select{
        width: 100% !important;
    }
    .product-filters .ant-space-item .ant-form .ant-form-item{
      margin: 4px 0;
    }
    .sidemenu {
      background-color: #fff;
      position: fixed;
      z-index: 999;
      height: 100%;
    }
    .app-logo{
      font-size: 14px !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 575px){
    
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    
}